@use './partials/mixIn.scss' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1c1c;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  @include my-display-flex;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}